.Post {
  width: 100%;
  padding: 0.25rem 0;
}

.Post__header {
  padding: 0.5rem;
  padding-bottom: 0.25rem;
}

.Post__text {
  padding: 0.5rem 1rem;
  color: #111;
  font-size: 1rem;
  white-space: pre-wrap;
}

.Post__img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: contain;
}

.Post__footer {
  padding: 0 1rem;
}

.Post__footer hr {
  margin: 0.5rem 0;
}
